doctype
html
  head
    title quiz app
    link(rel='stylesheet', href='/lib/js/touch/current/resources/css/sencha-touch.css')
    script(src='/lib/js/touch/current/sencha-touch-all-debug.js')
    script(src='/js/main.js')
  body
